---
import Layout from '../layouts/Layout.astro'
import Container from '../components/container.astro'
---

<Layout
  title="เกี่ยวกับ | BU ITI Open House"
  description="ข้อมูลเกี่ยวกับงาน BU ITI Open House"
>
  <main class="py-6 lg:py-10">
    <Container>
      <h1 class="text-center text-2xl font-extrabold lg:text-3xl">
        เกี่ยวกับงาน BU ITI Open House
      </h1>
      <p class="mt-6 lg:mt-10 lg:text-lg">
        งาน BU ITI Open House
        เป็นโอกาสพิเศษสำหรับผู้ที่สนใจในสาขาเทคโนโลยีสารสนเทศและนวัตกรรม
        ได้เรียนรู้เกี่ยวกับหลักสูตร กิจกรรม และโอกาสที่มหาวิทยาลัยกรุงเทพมอบให้
        ภายในงานคุณจะได้พบปะกับคณาจารย์ นักศึกษาปัจจุบัน และศิษย์เก่า
        รวมถึงชมนิทรรศการผลงานนักศึกษา และเข้าร่วมกิจกรรมเวิร์คช็อปที่น่าสนใจ
        มาร่วมค้นพบว่าเหตุใด BU ITI
        จึงเป็นจุดเริ่มต้นที่ยอดเยี่ยมสำหรับอนาคตในวงการไอที!
      </p>
    </Container>
  </main>
</Layout>
