---
import Layout from '../layouts/Layout.astro'
import Container from '../components/container.astro'
---

<Layout
  title="ติดต่อ | BU ITI Open House"
  description="ช่องทางการติดต่อสำหรับงาน BU ITI Open House"
>
  <main class="py-6 lg:py-10">
    <Container>
      <h1 class="text-center text-2xl font-extrabold lg:text-3xl">ติดต่อเรา</h1>
      <p class="mt-6 lg:mt-10 lg:text-lg">สามารถสอบถามข้อมูลเพิ่มเติมได้ทาง</p>
      <ul class="mt-4 list-inside list-disc space-y-2 lg:space-y-4">
        <li>
          <a
            target="_blank"
            rel="noreferrer"
            href="https://www.facebook.com/BUITInnovation"
            class="font-bold text-gray-800 underline hover:text-gray-600 lg:text-lg"
            >Facebook Page "คณะเทคโนโลยีสารสนเทศและนวัตกรรม มหาวิทยาลัยกรุงเทพ"</a
          >
        </li>
        <li>
          <a
            target="_blank"
            rel="noreferrer"
            href="https://www.instagram.com/buitistudentact/"
            class="font-bold text-gray-800 underline hover:text-gray-600 lg:text-lg"
            >Instagram: buitistudentact</a
          >
        </li>
        <li>
          <a class="lg:text-lg">โทร. 02-407-3888 ext. 1690</a>
        </li>
      </ul>
    </Container>
  </main>
</Layout>
