---
import Layout from '../layouts/Layout.astro'
import Container from '../components/container.astro'

const faq = [
  {
    question: 'งาน BU Open House 2024 จัดขึ้นเมื่อไหร่และจัดที่ไหน?',
    answer:
      'มารวมตัวพร้อมกันได้ในวันที่ 29-31 สิงหาคม 2567 ณ มหาวิทยาลัยกรุงเทพ Main campus (รังสิต)',
  },
  {
    question: 'เข้าร่วมงานต้องลงทะเบียนไหม',
    answer:
      'สามารถลงทะเบียนเพื่อร่วมงาน BU OPEN HOUSE ล่วงหน้าได้ทางเว็บไซต์ หรือลงทะเบียนหน้างานได้ที่ PRO-CENTER บริเวณใต้ตึก A3',
  },
  {
    question: 'การแต่งกาย ใส่ชุดอะไรไปดี?',
    answer:
      'มหาวิทยาลัยกรุงเทพเราเปิดรับความหลากหลาย ทุกคนสามารถแต่งกายได้ทั้งเครื่องแบบสถาบัน หรือชุดฟรีสไตล์ของตัวเอง แต่ยังสุภาพเหมาะสมกับสถานศึกษาได้เลย',
  },
  {
    question: 'กิจกรรมคณะต่าง ๆ เริ่มตั้งแต่กี่โมงและสิ้นสุดเมื่อไหร่?',
    answer:
      'สําหรับกิจกรรมทุกคณะ จะเริ่มตั้งแต่เวลา 9.00-16.00 น. และมีต่อกับกิจกรรมสุดพิเศษช่วงเย็นสําหรับคอนเสิร์ตและโชว์วงดนตรีที่เวทีกลางบริเวณโถงอาคาร C6 หอสมุดสุรัตน์ โอสถานุเคราะห์ ตั้งแต่เวลา 17.00-20.00 น.',
  },
]
---

<Layout
  title="คำถามที่พบบ่อย | BU ITI Open House"
  description="คำถามที่พบบ่อยของ BU ITI Open House"
>
  <main class="py-6 lg:py-10">
    <Container>
      <h1 class="text-center text-2xl font-extrabold lg:text-3xl">
        คำถามที่พบบ่อย
      </h1>
      <ul class="mt-6 space-y-8 lg:mt-10 lg:space-y-10">
        {
          faq.map(({ answer, question }) => (
            <li>
              <h3 class="text-lg font-bold">{question}</h3>
              <p class="mt-2 text-gray-700">{answer}</p>
            </li>
          ))
        }
      </ul>
    </Container>
  </main>
</Layout>
