---
import Layout from '../layouts/Layout.astro'
import Container from '../components/container.astro'

const images = [
  '/assets/images/gallery/image1.webp',
  '/assets/images/gallery/image2.webp',
  '/assets/images/gallery/image3.webp',
  '/assets/images/gallery/image4.webp',
  '/assets/images/gallery/image5.webp',
]
---

<Layout
  title="ภาพกิจกรรม | BU ITI Open House"
  description="ภาพกิจกรรมของ BU ITI Open House"
>
  <main class="py-6 lg:py-10">
    <Container>
      <h1 class="text-center text-2xl font-extrabold lg:text-3xl">ภาพกิจกรรม</h1>
      <ul class="mt-8 grid grid-cols-1 gap-16 lg:grid-cols-2 lg:gap-24">
        {
          images.map((src) => (
            <li>
              <img src={src} class="rounded-3xl" alt="ภาพกิจกรรม" />
            </li>
          ))
        }
      </ul>
    </Container>
  </main>
</Layout>
