---
import Layout from '../layouts/Layout.astro'
import Container from '../components/container.astro'
---

<Layout
  title="ผู้สนับสนุน | BU ITI Open House"
  description="ผู้สนับสนุนงาน BU ITI Open House"
>
  <main class="py-6 lg:py-10">
    <Container>
      <h1 class="text-center text-2xl font-extrabold lg:text-3xl">
        ผู้สนับสนุน
      </h1>
      <ul class="mt-8 grid gap-8 sm:grid-cols-3 lg:mt-12 lg:grid-cols-4">
        <li class="mx-auto w-fit">
          <img
            src="/assets/images/sponsors/mixue.webp"
            alt="Mixue"
            class="-ml-2 h-10"
          />
        </li>
        <li class="mx-auto w-fit">
          <img src="/assets/images/sponsors/hp.webp" alt="HP" class="h-12" />
        </li>
        <li class="mx-auto w-fit">
          <img
            src="/assets/images/sponsors/microsoft.webp"
            alt="Microsoft"
            class="h-8 lg:mt-2"
          />
        </li>
        <li class="mx-auto w-fit">
          <img
            src="/assets/images/sponsors/starbucks.webp"
            alt="Starbucks"
            class="h-12"
          />
        </li>
        <li class="mx-auto w-fit">
          <img
            src="/assets/images/sponsors/fastwork.webp"
            alt="Fastwork"
            class="h-12"
          />
        </li>
        <li class="mx-auto w-fit">
          <img
            src="/assets/images/sponsors/google.webp"
            alt="Google"
            class="mt-2 h-10"
          />
        </li>
        <li class="mx-auto w-fit">
          <img
            src="/assets/images/sponsors/aws.webp"
            alt="AWS"
            class="mt-2 h-10"
          />
        </li>
        <li class="mx-auto w-fit">
          <img
            src="/assets/images/sponsors/cloudflare.webp"
            alt="Cloudflare"
            class="mt-2 h-10"
          />
        </li>
      </ul>
    </Container>
  </main>
</Layout>
