---
import Layout from '../layouts/Layout.astro'
import Container from '../components/container.astro'
---

<Layout
  title="เวิร์คช็อปและกิจกรรม | BU ITI Open House"
  description="เวิร์คช็อปและกิจกรรมของ BU ITI Open House"
>
  <main class="py-6 lg:py-10">
    <Container>
      <h1 class="text-center text-2xl font-extrabold lg:text-3xl">
        เวิร์คช็อปและกิจกรรม
      </h1>
      <ul class="mt-8 space-y-8 lg:mt-10 lg:space-y-10">
        <li
          class="mx-auto rounded-3xl border border-gray-100 p-8 lg:max-w-2xl lg:p-10"
        >
          <h2 class="text-balance text-center text-xl font-bold">
            การพัฒนาเกมบนโลกเสมือนจริง Virtual Reality
          </h2>
          <p class="mt-4">
            ใครที่สนใจเกม VR เป็นพิเศษ ชอบที่ได้ออกท่าทางการเล่มเกมของจริง
            ชวนน้อง ๆมารับประสบการณ์ใหม่ ที่ไม่ใช่แค่เล่นเกม
            แต่คือการสร้างเกมเสมือนจริง
            มาปฏิบัตจริงเรียนรู้พื้นฐานการใช้งานเครื่องมือสำหรับการพัฒนาเกมในโลกเสมือนจริง
            (Virtual Reality)
          </p>
          <div
            class="mx-auto mt-4 w-fit rounded-full bg-gray-100 px-4 py-2 text-center text-sm font-bold text-gray-800"
          >
            Aug 29–31: 10:30–12:00, 13:30–15:00
          </div>
        </li>
        <li
          class="mx-auto rounded-3xl border border-gray-100 p-8 lg:max-w-2xl lg:p-10"
        >
          <h2 class="text-balance text-center text-xl font-bold">
            เทคนิคการวิเคราะห์และการนำเสนอข้อมูล (Data Science and Data
            Visualization)
          </h2>
          <p class="mt-4">
            ใครเป็นสายวิเคราะห์ข้อมูล ชอบแหวกว่ายในโลกของ Big Data
            แล้วยังสนใจเรื่องของโปรแกรมเมอร์ ห้ามพลาดกับ Workshop
            ของสาขาวิทยาการคอมพิวเตอร์นี้ น้อง ๆ
            ที่เข้าร่วมจะได้รับประสบการณ์ปฏิบัติงานจริงและได้เรียนรู้ทักษะอาชีพด้าน
            Data Science
          </p>
          <div
            class="mx-auto mt-4 w-fit rounded-full bg-gray-100 px-4 py-2 text-center text-sm font-bold text-gray-800"
          >
            Aug 29–31: 11:00–12:00, 14:00–15:00
          </div>
        </li>
        <li
          class="mx-auto rounded-3xl border border-gray-100 p-8 lg:max-w-2xl lg:p-10"
        >
          <h2 class="text-balance text-center text-xl font-bold">
            การสร้าง Visual Effect สำหรับเกม ด้วย Unreal Engine
          </h2>
          <p class="mt-4">
            คนที่ติดใจกับ Special Effects ภายในเกม ไม่ว่าระเบิด รถถัง ขี่กระบี่
            ฟันดาบ อยากมาลองสัมผัสการสร้างของจริง ต้องมาเข้าร่วม Workshop นี้
            พาน้อง ๆ เรียนรู้กระบวนการสร้าง VFX
            ตั้งแต่ขั้นพื้นฐานไปจนถึงการใช้งานเครื่องมือ Unreal Engine
            ในการสร้างเอฟเฟกต์ต่าง ๆ ภายในเกม เช่น แสงเงา
            ระเบิดเพื่อเสริมสร้างอารมณ์และบรรยากาศของเกม
            โดยผู้เชี่ยวชาญจากภาอุตสาหกรรมเกมตัวจริงเสียงจริง
          </p>
          <div
            class="mx-auto mt-4 w-fit rounded-full bg-gray-100 px-4 py-2 text-center text-sm font-bold text-gray-800"
          >
            Aug 29–31: 09:00–10:30, 12:00–13:30
          </div>
        </li>
        <li
          class="mx-auto rounded-3xl border border-gray-100 p-8 lg:max-w-2xl lg:p-10"
        >
          <h2 class="text-balance text-center text-xl font-bold">
            เทคนิคการพัฒนาเว็บไซต์เต็มรูปแบบ (Frond End และ Back End)
          </h2>
          <p class="mt-4">
            ชวนน้อง ๆ ที่สนใจเรื่องการเขียนโปรแกรม
            รักในความซับซ้อนของการเขียนโค้ดมาเข้าร่วมงานลงมือปฏิบัติจริงทั้งเรื่อง
            Front-end และ Back-end ได้สัมผัสโปรแกรมอย่างลงลึก
            เห็นเทคนิคชั้นสูงต่าง ๆ จากผู้เชี่ยวชาญตัวจริง
          </p>
          <div
            class="mx-auto mt-4 w-fit rounded-full bg-gray-100 px-4 py-2 text-center text-sm font-bold text-gray-800"
          >
            Aug 29–31: 10:00–11:00, 13:00–14:00
          </div>
        </li>
      </ul>
    </Container>
  </main>
</Layout>
