<footer class="bg-white pb-16">
  <div class="mx-auto max-w-7xl">
    <div class="px-6 py-12">
      <p class="text-center text-sm lg:text-base text-gray-500">
        Tel. 02 407 3888 ext. 1690
      </p>
      <p class="mt-4 text-center text-sm lg:text-base text-gray-500">
        &copy; {new Date().getFullYear()} BU ITI Open House. All rights reserved.
      </p>
    </div>
  </div>
</footer>
