---
import Footer from '../components/footer.astro'
import Header from '../components/header.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="font-line-seed">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  @import '../styles/fonts.css';
</style>
